{% extends 'base.html' %}

{% load static %}

{% block content %}

    <body class="books-back"> 
        
        
        <ul style="list-style-type:disc;">
            <li>The Rise and Fall of American Growth: The U.S. Standard of Living Since the Civil War by Robert J. Gordon</li>
            <li>How Not to Be Wrong: The Power of Mathematical Thinking by Jordan Ellenberg</li>
            <li>Prediction Machines: The Simple Economics of Artificial Intelligence by Rajay Agrawal, Avi Goldfarb, and Joshua Gans</li>
            <li>Hackers and Painters by Paul Graham</li>
            <li>The Laws of Human Nature by Robert Greene</li>
            <li>The Nature of Technology by Brian Arthur</li>
            <li>The Road Ahead by Bill Gates</li>
            <li>Introducing Game Theory: A Graphic Guide by Ivan Pastine and Tuvana Pastine</li>
            <li>Originals: How Non-Conformists Move the World by Adam Grant</li>
            <li>The Wizard of Menlo Park: How Thomas Alva Edison Invented the Modern World by Randall E. Stross</li>
            <li>"Why Should White Guys Have All the Fun?": How Reginald Lewis Created a Billion-Dollar Business Empire by Reginald Lewis</li>
            <li>The Hard Thing About Hard Things by Ben Horowitz</li>
            <li>The Art of Learning by Josh Waitzkin</li>
            <li>Tools of Titans by Tim Ferriss</li>
            <li>The Richest Man In Babylon by George S. Clason</li>
            <li>Who Moved My Cheese? by Dr. Spencer Johnson</li>
            <li>Mastery by Robert Greene</li>
            <li>Principles by Ray Dalio</li>
            <li>Shoe Dog by Phil Knight</li>
            <li>Man's Search For Meaning by Victor E. Frankl</li>
            <li>12 Rules for Life by Jordan Peterson</li>
            <li>Think and Grow Rich by Napoleon Hill</li>
            <li>Rich Dad Poor Dad by Robert Kiyosak</li>
            <li>Thinking Fast and Slow by Daniel Kahneman</li>
            <li>The Alchemist by Paulo Coelho</li>
            <li>The Millionaire Next Door by Thomas Stanley and William Danko</li>
            <li>The Lean Startup by Eric Ries</li>
            <li>The Snowball: Warren Buffett and the Business of Life by Alice Schroeder</li>
            <li>Sapiens by Yuval Noah Hararir</li>
            <li>Steve Jobs by Walter Isaacson </li>
            <li>Deep Work by Cal Newport</li>
            <li>Contagious by Jonah Berger</li>
            <li>The Power of Broke by Daymond John</li>
            <li>The Subtle Art of Not Giving a F*ck by Mark Manson</li>
            <li>The 50th Law by Robert Greene</li>
            <li>The 22 Immutable Laws of Marketing by Al Ries and Jack Trout</li>
            <li>How to Win Friends and Influence People by Dale Carnagie</li>
        
        </ul> 
        
    </body>

{% endblock content %}




 