{% extends 'base.html' %}

{% load static %}

{% block content %}
    <body class="code-back">         
    <ul>
    <u>My passion for programming stems from a few aspects: </u>
    <li>Building Blocks - Being able to assemble something piece by peice until you've constructed something masterful is almost synonymous to having a superpower.</li>
    <li>Interaction - There's no better feeling than reaping the fruits of your labor when people interact with what you've created and find it extremely valuable.</li>
    <li>Abstraction - The ability to create a program, algorithm or an API that liberates the complexity from the users and offers them a seamless experience is extraordinary. </li>
    <br>
    <u>Known Languages:</u>
    <li>Python</li>
    <li>Javascript</li>
    <li>PHP</li>
    <li>JQuery</li>
    <li>HTML</li>
    <li>CSS</li>
    </ul>
            
</body>
{% endblock content %}
