{% extends 'base.html' %}

{% load static %}

{% block content %}
    <body class="music-back"> 
         <div class="music-text">
            <ul style="list-style-type:disc;">
                <div class="music-headers"><u>Euphoric</u>
                    <li>Everybody Wants To Rule The World by Tears For Tears</li>
                    <li>Lift Off by Jay Z, Kanye West, and Beyonce</li>
                    <li>Livin' On A Prayer by Bon Jovi</li>
                    <li>Hold the Line by TOTO</li>
                    <li>We Are The People by Empire of the Sun</li>
                    <li>Electric Feel by MGMT</li>
                    <li>Wonderwall by Oasis</li>
                    <li>REVOFEV by Kid Cudi</li>
                </div>
                <br>
                <br>
                <div class="music-headers"><u>Hustle</u>
                    <li>Who Gon Stop Me by Jay Z and Kanye West</li>
                    <li>Rule by Nas</li>
                    <li>We Will Rock You by Queen</li>
                    <li>Money Trees by Kendrick Lamar (feat. Jay Rock)</li>
                    <li>Blue Laces 2 by Nipsey Hussle</li>
                    <li>ATM by J.Cole</li>
                    <li>100$ Bill by Jay Z</li>
                    <li>WIN by Jay Rock</li>
                </div>
                <br>
                <br>
                <div class="music-headers"><u>Leather Jacket with RayBan P's and Wallet Chain</u>
                    <li>Smells Like Teen Spirit by Nirvana</li>
                    <li>Take Me Out Franz Ferdinand</li>
                    <li>Sweet Child O' Mine by Guns N' Roses</li>
                    <li>Back In Black by AC/DC</li>
                    <li>Death By Diamonds And Pearls by Band Of Skulls</li>
                    <li>Smooth Criminal by Alien Ant Farm</li>
                    <li>You Shook Me All Night Long by AC/DC</li>
                    <li>White Room by Cream</li>
                    <li>Fly Away Lenny Kravitz</li>
                    <li>Seven Nation Army by The White Stripes</li>
                </div>
                <br>
                <br>
                <div class="music-headers"><u>Chillax</u>
                    <li>Lotus Blossom by Michael Franks</li>
                    <li>Wishing on a Star by Rose Royce</li>
                    <li>St. Elmo's Fire by Michael Franks</li>
                    <li>Take Off Your Cool by Andre 3000 (feat. Norah Jones)</li>
                    <li>We All Try by Frank Ocean</li>
                    <li>In The Air by Phil Collins</li>
                    <li>Love Bomb by N.E.R.D.</li>
                    <li>Hotel California by Eagles</li>
                    <li>Cruisin' by Smokey Robinson</li>
                    <li>Swim Good by Frank Ocean</li>
                </div>
                <br>
                <br>
                <div class="music-headers"><u>Mob Mentality</u>
                    <li>What's Free by Meek Mill (feat. Rick Ross and Jay Z)</li>
                    <li>Omerta by Drake</li>
                    <li>Diplomatic Immunity by Drake</li>
                    <li>Only God Can Judge Me by 2PAC</li>
                    <li>Can't Tell Me Nothing by Kanye West</li>
                    <li>Not For Radio by Nas (feat. Puff Daddy)</li>
                    <li>Drug Dealers Anonymous by Pusha T (feat. Jay Z)</li>
                    <li>Heartz Of Men by 2PAC</li>
                    <li>I Ain't Mad At Cha by 2PAC</li>
                </div>
                <br>
                <br>
                <div class="music-headers"><u>Reflective</u>
                    <li>A Life In The Day of Benjamin Andre by OutKast</li>
                    <li>The World Is Yours by Nas</li>
                    <li>Hard Knock Life by Jay Z</li>
                    <li>Made You Look by Nas</li>
                    <li>If I Ruled the World by Nas (feat. Lauryn Hill)</li>
                </div>
                </div>
                <br>
                <br>

            </ul>
        </div>
            
    </body>
{% endblock content %}