{% extends 'base.html' %}

{% load static %}

{% block content %}
    <body class="influ-back"> 
        <div class="list">
        <ul style="list-style-type:disc;">
            <li>John D. Rockerfeller</li>
            <li>Andrew Carnegie</li>
            <li>Cornelius Vanderbilt</li>
            <li>Henry Ford</li>
            <li>J.P. Morgan</li>
            <li>Richard Feynman</li>
            <li>Alexander Graham Bell</li>
            <li>Steve Jobs</li>
            <li>Sergey Brin</li>
            <li>Larry Page</li>
            <li>Elon Musk</li>
            <li>Robert F. Smith</li>
            <li>Warren Buffett</li>
            <li>Jeff Bezos</li>
            <li>Sam Walton</li>
            <li>Marc Andreessen</li>
            <li>Patrick Collison</li>
            <li>John Collison</li>
            <li>Paul Graham</li>
            <li>Drew Houston</li>
            <li>Mark Cuban</li>
            <li>Bill Gates</li>
            <li>Larry Ellison</li>
            <li>Jack Dorsey</li>
            <li>Ray Dalio</li>
            <li>Peter Thiel</li>
            <li>Steven Chen</li>
            <li>Jeremy Stoppelman</li>
            <li>Mark Zuckerberg</li>
            <li>Steve Wozniak</li>
            <li>Tobias Lütke</li>
        </ul>
        </div>
            
</body>
{% endblock content %}