{% extends 'base.html' %}

{% load static %}

{% block content %}

<body class="persp-back"> 
    
   <ul style="list-style-type:disc;" class="li-wrapper">
    <u>What classifies individuals as being smart?</u>
       
    <li>Is it their ability to graduate as a valedictorian? Is it their ability to get accepted into an Ivy League University? 
        Is it their ability to recall information? Is it their willingness to solve complex problems? Is it their ability to 
        distill complex ideas and convey them in layman's terms? Is it because their arguments are deduced from experts? Is it
        because they surround themselves with individuals who supplement their skills in an area that they are deficient in? Or is it
        a combination of all of these questions?
       
       
       </li>

    
    </ul>        
</body>

{% endblock content %}
