{% extends 'base.html' %}

{% load static %}

{% block content %}
    <body class="travel-back"> 
        <ul style="list-style-type:disc;">
            <li>Tokyo, Japan</li>
                <ul>
                    <li>Tokyo Skytree</li>
                    <li>World’s Largest UNIQLO Store</li>
                    <li>Tsukiji Fish Market</li>
                    <li>Sensō-ji Temple</li>
                </ul>
            <li>New York, USA</li>
                <ul>
                    <li>Brooklyn Heights Promenade</li>
                    <li>The Museum of Modern Art</li>
                    <li>Empire State Building</li>
                    <li>One World Observatory</li>
                </ul>
            <li>Illinois, USA</li>
                <ul>
                    <li>The Art Institute of Chicago</li>
                    <li>Millennium Park</li>
                    <li>Navy Pier</li>
                    <li>360 CHICAGO</li>
                </ul>
            <li>Minnesota, USA</li>
                <ul>
                    <li>Mall of America</li>
                    <li>Young Joni</li>
                    <li>Skyway System</li>
                </ul>
            <li>Florida, USA</li>
                <ul>
                    <li>Universal Citywalk Orlando</li>
                    <li>Amway Center</li>
                    <li>KPMG Lakehouse</li>
                    <li>Epcot</li>

                </ul>
            <li>Nevada, USA</li>
                <ul>
                    <li>OMNIA Nightclub</li>
                    <li>Container Park</li>
                    <li>minus5 ICEBAR</li>
                    <li>Eggworks</li>
                    <li>Pizza Rock</li>
                </ul>
            <li>California, USA</li>
                <ul>
                    <li>California State Route 1</li>
                        <li>Six Flags Magic Mountain</li>
                    <li>Mammoth Mountain</li>
                    <li>The Broad</li>
                    <li>Santa Monica Pier</li>
                    <li>Terranea Resort</li>
                    <li>Hilltop Park</li>
                </ul>
        </ul> 
</body>
{% endblock content %}
